nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
}
.nav-social li{
    display: inline !important;
}
.nav-social{
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    align-items: center;
}
/* --------Cartbadge--------- */
.badge{
    top: -9px;
    left: 5px;
}